{% extends 'base_1.html' %} {% block content %}
<div class="columns is-centered" style="padding-top: 80px">
  <div class="column is-half">
    <!-- Create Post Button -->
    <div class="has-text-right mb-4">
      <a
        href="{% url 'community:create' %}"
        class="button is-primary is-medium"
      >
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span>Create Post</span>
      </a>
    </div>

    {% for item in object_list %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <img
            src="{{ item.image.url }}"
            alt="{{ item.title }}"
            width="270"
            height="420"
          />
        </div>
        <div class="media-content">
          <div class="content">
            <a href="{% url 'community:detail' item.pk %}">
              <strong class="has-text-black is-size-4">{{ item.title }}</strong>
            </a>
            <p class="is-size-5 mt-2">
              <span class="has-text-grey">by</span>
              <strong class="has-text-black">{{ item.author }}</strong>
            </p>
            <p class="is-size-6 mt-2">{{ item.created_at|date:"Y/m/d H:i" }}</p>
          </div>
        </div>
      </article>
    </div>
    {% empty %}
    <p class="has-text-centered is-size-5">No posts</p>
    {% endfor %}
  </div>
</div>

{% endblock content %}
