<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>HealthSync <em>News</em></h2>
          <img src="{% static 'images/line-dec.png' %}" alt="waves" />
          <p>
            We want to help users improve their health <br />
            through sports and providing nutrition guidance <br />tailored to
            their individual health conditions.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="features-items">
          <li class="feature-item">
            <div class="left-icon">
              <img
                src="{% static 'images/features-first-icon.png' %}"
                alt="First One"
              />
            </div>
            <div class="right-content">
              <h4>Personal Health Survey</h4>
              <p>
                Complete survey to receive sports and nutritional recommendation
                based on your fitness level and health conditions.
              </p>
              <a href="survey.html" class="text-button">Start the survey</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img
                src="{% static 'images/features-first-icon.png' %}"
                alt="second one"
              />
            </div>
            <div class="right-content">
              <h4>Customized sports plan</h4>
              <p>
                Explore various sports at all levels with detailed videos on
                techniques, training time, and health benefits.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img
                src="{% static 'images/features-first-icon.png' %}"
                alt="third gym training"
              />
            </div>
            <div class="right-content">
              <h4>Nutrition Guidance</h4>
              <p>
                Get sport-specific diet plans for endurance and recovery, plus
                options for special diets like vegetarian, allergy-friendly, and
                more.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="features-items">
          <li class="feature-item">
            <div class="left-icon">
              <img
                src="{% static 'images/features-first-icon.png' %}"
                alt="fourth muscle"
              />
            </div>
            <div class="right-content">
              <h4>Advanced Muscle Course</h4>
              <p>
                You may want to browse through
                <a
                  rel="nofollow"
                  href="https://templatemo.com/tag/digital-marketing"
                  target="_parent"
                  >Digital Marketing</a
                >
                or
                <a href="https://templatemo.com/tag/corporate">Corporate</a>
                HTML CSS templates on our website.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img
                src="{% static 'images/features-first-icon.png' %}"
                alt="training fifth"
              />
            </div>
            <div class="right-content">
              <h4>Yoga Training</h4>
              <p>
                This template is built on Bootstrap v4.3.1 framework. It is easy
                to adapt the columns and sections.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
          <li class="feature-item">
            <div class="left-icon">
              <img
                src="{% static 'images/features-first-icon.png' %}"
                alt="gym training"
              />
            </div>
            <div class="right-content">
              <h4>Body Building Course</h4>
              <p>
                Suspendisse fringilla et nisi et mattis. Curabitur sed finibus
                nisi. Integer nibh sapien, vehicula et auctor.
              </p>
              <a href="#" class="text-button">Discover More</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
